.footer{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 30px;
}
.footer__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
    @media(min-width:768px){
        justify-content: space-between;
        flex-direction: row;
    }
}
.footer__copyrights{
    color: #333;
    font-family: Girloy-Regular;
    font-size: clamp(13px,4vw,18px);
    font-weight: 400;
}
.footer__copyrights-decor{
    font-family: Girloy-SemiBold;
}
.footer__list{
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 0;
}
.footer__link{
   width: 30px;
   height: 30px;
   display: block;
   background-repeat: no-repeat;
   background-size: cover;
    &1{
        background-image: url(../images/facebook_black.svg);
    }
    &2{
        background-image: url(../images/facebook_black.svg);
    }
    &3{
        background-image: url(../images/linkedin_black.svg);
    }
    &4{
        background-image: url(../images/dribble_black.svg);
    }
}