.page-section-fourth{
  padding-top: 50px;
  padding-bottom: 130px;  
}
.page-section-fourth__wrap{
   display: grid;
   justify-items: center;
   gap: 50px; 
}
.page-section-fourth__title{
    font-family: "Gilroy-Light";
font-size: 150px;
font-weight: 300;
text-transform: uppercase;
margin: 0;
margin-top: 70px;
@media (max-width:1200px){
    letter-spacing: 8.48px;
   }
}
.page-section-fourth__cards{
    display: grid;
    @media (max-width:1200px){
        grid-template-columns:repeat(3,1fr);
        grid-template-rows:repeat(2,1fr);
        gap: 1px;
    }
}
.page-section-fourth__box-bg{
    display: grid;
    gap: 30px;
    background-color: #f5f3ea;
    padding-top: 40px;
   @media(max-width: 1200px){
    padding-left: 30px;
    padding-right: 30px;
    }
}
.page-section-fourth__card-wrap{
    display: grid;
    align-content: space-between;
    gap: 30px;
}
.page-section-fourth__box{
    display: grid;
    gap: 30px;
}
.page-section-fourth__box-title{
    font-family: Girloy-bold;
    color: #333;
    font-size: clamp(30px, 2.5vw, 40px);
    line-height: 44px;
    align-self: stretch;
}
.page-section-fourth__box-dscr{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.page-section-fourth__person{
   display: flex;
   gap: 20px;
   padding-bottom: 40px;
   align-items: center;
   @media(max-width: 1200px){
    border: none;
   } 
}
.page-section-fourth__name-person{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; 
    margin-bottom: 10px;
}
.page-section-fourth__profession{
    color: #000;
    font-family: Inter;
    font-size: clamp(11px, 3.4vw, 20px);
    font-weight: 400;
    line-height: 20px; 
}