.page-section-second{
  display: flex;
  gap: 111px;  

  @media (max-width:1200px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.page-section-second-img{
   background-image: url(../../images/what-i-do-bgd.jpg); 
   width: 1200px;
   background-repeat: no-repeat;
   background-size: cover;

   @media (max-width:1200px){
    height: 991px;
   }
   @media (max-width:320px){
   background-size: 100%;
   }
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;

    &--bold {
        font-size: 44px;
        line-height: 48px;
        text-transform: uppercase;
        font-family: Gilroy-SemiBold;

        @media (max-width:768px) {
           font-size: 35px;
        }
    }

    &--thin {
        font-size: 44px;
        line-height: 48px;
        text-transform: uppercase;
        font-family: Gilroy-Light;
    }

    @media (max-width:1200px) {
        width: 100%;
    }
    @media (max-width:768px) {
        width: 440px;
    }
}
.what-i-do__title{
font-family: "Gilroy-Light";
font-size: 150px;
font-weight: 300;
text-transform: uppercase;
margin: 0;
margin-top: 70px;

@media (max-width:1200px) {
    font-size: 80px;
    min-width: 961px;
    margin-left: 30px;
    margin-top: 0px;
    margin-top: -85px
    }
@media (max-width:768px) {
    margin-left: 30px;
    margin-right: 30px;
    margin-right: 30px;    
    }
}
.description__list{
  list-style-type: none;  
}
.description__list-title{
color: #000;
font-family: Gilroy-Light;
font-size: 44px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 109.091% */
text-transform: uppercase;
}
.text-container-item-1::before{
  content: "01";
  font-size: 35px; 
  line-height: 48px;
  text-transform: uppercase;
  font-family: Girloy-Light;
  margin-right: 14.5px; 
}
.text-container-item-2::before{
    content: "02";
    font-size: 35px; 
    line-height: 48px;
    text-transform: uppercase;
    font-family: Girloy-Light;
    margin-right: 14.5px; 
  }
  .text-container-item-3::before{
    content: "03";
    font-size: 35px; 
    line-height: 48px;
    text-transform: uppercase;
    font-family: Girloy-Light;
    margin-right: 14.5px; 
  }
  .text-container-item-4::before{
    content: "04";
    font-size: 35px; 
    line-height: 48px;
    text-transform: uppercase;
    font-family: Girloy-Light;
    margin-right: 14.5px; 
  }
.description__list-paragraph{
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
text-wrap: wrap;
border-bottom: 1px solid #252525;
border-bottom-width: 100%;
}